/*  Seccion 3   */

.cosmere {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.6);
    width: fit-content;
    margin: 5rem auto;
}

.cosmere-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    gap: 20px;
}

.other, .details {
    max-width: 700px;
    margin: 5px;
    padding: 20px;
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.699);
    border-radius: 10px;
}

.cosmere-container ul {
    list-style: inside;
}

.cosmere a img {
    height: 60vh;
    border: 2px solid grey;
    border-radius: 10px;
}