/*  Seccion 4   */

.non-cosmere-book-container{
    display: flex;
    justify-content: center;
}

.non-cosmere-book-container a img{
    object-fit: cover;
    transition: all ease-in-out 0.6s;
    width: 30vh;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid grey;
    filter: saturate(100%);
    height: 100%;
    margin: 5px;
    transition: 0.5 ease;
}

.non-cosmere-book-container a img:hover {
    transform: scale(1.1);
    filter: grayscale(0%)
}