/*-- Estilo del footer --*/

footer {
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
    text-align: center;
    height: 120px;
    margin-top: 20px;
}

.ideal {
    display: flex;
    gap: 20px;
    margin: 10px;
}

footer a button {
    background-color: rgb(249, 250, 198);
    border-radius: 10px;
    border: none;
    width: 200px;
    height: 30px;
    cursor: pointer;
    transition-duration: 0.4s;
}

footer a button:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}