/*  Seccion 6  - Estilo del formulario -  */

.section-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.form-container {
    padding: 5px;
    margin: 10px;
    box-shadow: 0px 0px 30px rgba(0,0, 0,0.37);
    border-radius: 5px;
    width: 40rem;
    display: flex;
    align-items: center;
}

.form-container form {
    padding: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.form-container textarea {
    min-width: 550px;
    min-height: 200px;
    resize: vertical;
}

.form-container input {
    height: 1.5rem;
}

.form-container input, .form-container textarea {
    background-color: rgba(249, 250, 198, 0.7);
    border-radius: 5px;
    transition: all ease-in-out 0.4s;
    padding: 5px;
    border-style: none;
}

.form-container input[type="submit"] {
    display: block;
    margin: 0 auto;
}

.form-container input:hover, .form-container textarea:hover {
    background-color: rgb(255, 251, 231);
    border-color:  rgb(255, 233, 106);;
}

.form-container input[type="submit"]:hover {
    box-shadow: 0px 0px 10px rgba(0,0, 0,0.37);
    cursor: pointer;
}