/*-- Etiquetas generales --*/
@import url('https://fonts.googleapis.com/css2?family=Amarante&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Amarante", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-Image:
        radial-gradient(circle at 50% 100%, rgba(253, 224, 71, 0.4) 20%, transparent 70%),
        radial-gradient(circle at 50% 100%, rgba(251, 191, 36, 0.4) 40%, transparent 80%),
        radial-gradient(circle at 50% 100%, rgba(84, 162, 250, 0.5) 60%, transparent 100%);
}

h2 {
    text-align: center;
    margin-bottom: 40px;
}

th {
    padding: 10px;
    background-color: rgb(250, 235, 215); 
}