/*  Seccion 2   */

#libros-cosmere {
    margin-bottom: 7rem;
}

.obras_cosmere {
    display: grid;
    grid-template-rows: auto auto;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
}

.cosmere-book-container {
    display: flex;
    justify-content: center;
    height: 5vh;
    transition: height ease-in-out 0.7s;
    overflow: hidden;
}

.cosmere-book-container:hover {
    height: 20rem;
}

.cosmere-book-container img {
    height: 5vh;
    object-fit: cover;
    transition: all ease-in-out 0.7s;
    width: 30vh;
    border-radius: 10px;
    border: 2px solid grey;
}

.cosmere-book-container img:hover {
    filter: saturate(100%);
    height: 100%;
}