$primary-color: #3498db;
$secondary-color: #e74c3c;
$font-family: Arial;
$base-font-size: 16px;

$button-styles: (
    'primary-button': $primary-color,
    'secondary-button': $secondary-color,
    'buy-button': f39c12
);

@mixin center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body{
    background-color: #f2f2f2;
    font-family: $font-family;
    @include center-content;

    h1{
        font-size: 2rem;
        color: $primary-color;
    }

    p{
        font-size: 1.2rem;
        color: #555;
    }

    button{
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        transition: ease-in-out 0.3s;
    }

    button:hover{
        background-color: #3498db;
        cursor: pointer;
    }

    .product{
        background-color: #ffffff;
        border: 1px solid black;
        border-radius: 5px;
        margin: 10px;
        transition: ease-in-out 0.3s;
        @include center-content;
    }

    .product:hover{
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        transform: translateY(-5px);
    }

    img{
        max-width: 100%;
        height: auto;
    }

    h3{
        font-size: 1.5rem;
    }

    .important-text{
        font-weight: bold;
        color: $secondary-color;
    }
}

@each $boton, $color in $button-styles {
    .#{$boton} {
        background-color: $color;
    }
}