* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: auto;
}

body{
    background: linear-gradient(to right, rgb(25, 26, 27), rgb(25, 55, 58));
}

#inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    top: 2rem;
    border: 1px solid rgba(138, 226, 226, 0.603);
    border-radius: 5px;
    backdrop-filter: blur(10px);
    position: fixed;
    z-index: 1000;
    left: 50%;
    transform: translateX(-50%);
}

#inicio ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 10px;
    gap: 20px;
}

#inicio li {
    transition: all ease-in-out 0.3s;
}

#inicio li:hover {
    transform: scale(1.1);
}

#inicio a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}