body {
    background-color: rgb(105, 230, 255);
}

header {
    background-color: rgb(255, 255, 255);
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

header h1 {
    display: flex;
    justify-content: center;
    padding: 5px;
}

div{
    border: 1px solid black;
    background-color: whitesmoke;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

div p{
    display: flex;
    justify-content: center;
    padding: 5px;
}

div h3{
    display: flex;
    justify-content: center;
    padding: 5px;
}